# Site settings
title: Casa de Cinema de Porto Alegre
description: >-
  Em seus 33 anos de existência, a Casa produziu dezenas de filmes e vídeos, além de programas de televisão (especiais e séries), cursos de roteiro e de introdução à realização cinematográfica, fóruns de debates e programas eleitorais para TV.

baseurl: ""
url: "https://www.casacinepoa.com.br"

lang: pt-BR
timezone: America/Sao_Paulo
encoding: UTF-8

logo: /assets/img/logo.jpeg

archive_path: "/blog/arquivo/"
news_archive_path: "/noticias/arquivo/"
essays_archive_path: "/textos/arquivo"

# Collections
collections:
  news:
    output: true
    sort_by: date
    permalink: "/noticias/:name/"
  essays:
    output: true
    sort_by: date
    permalink: "/textos/:title/"
  banners:
    output: false
    sort_by: date
  projects:
    output: true
    sort_by: title
    permalink: "/filmes/:title/"
  people:
    output: false

# Build settings
permalink: "/blog/:year-:month-:day-:slug/"

include:
  - _redirects
  - _pages

plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-json-feed
  - jekyll-paginate-v2
  - jekyll-auto-authors

# Plugin: jekyll-seo-tag
social:
  name: Casa de Cinema de Porto Alegre
  links:
    - https://instagram.com/casacinepoa
    - https://facebook.com/casacinepoa
    - https://vimeo.com/user24144774

# Plugin: jekyll-paginate-v2
pagination:
  enabled: true
  collection:
    - posts
    - essays
    - news
  per_page: 12
  permalink: "/pagina/:num/"
  title: ":title — página :num"
  sort_field: date
  sort_reverse: true

autopages:
  enabled: true
  categories:
    enabled: true
    layouts:
      - archive.html
    title: ":cat"
    permalink: "/textos/:cat/"
    slugify:
      mode: default
      cased: true
  collections:
    enabled: false
  tags:
    enabled: false
  authors:
    enabled: true
    data: '_data/authors.yml' # Data file with the author details
    layouts:
      - 'author.html' # We'll define this layout later
    title: ':author'
    permalink: '/blog/:author/'
    slugify:
      mode: 'default' # choose from [raw, default, pretty, ascii or latin]
      cased: true # if true, the uppercase letters in slug will be converted to lowercase ones.

# Front-Matter Defaults
defaults:
  - scope:
      path: "backups"
    values:
      layout: default
      sitemap: false
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  - scope:
      path: ""
      type: "news"
    values:
      layout: "post"
  - scope:
      path: ""
      type: "projects"
    values:
      layout: "project"
