---
layout: default
---

{% assign site_features = site.banners | reverse %}

{% for feature in site_features %}
  {% if forloop.first %}
    {% capture first_feature %}
      {% include home/feature.html %}
    {% endcapture %}
  {% else %}
    {% capture last_feature %}
      {% include home/feature.html %}
    {% endcapture %}
  {% endif %}
{% endfor %}


{{ first_feature }}

<section class="contained blog-section">
  <h2 class="section-title">No blog</h2>

  <ol class="blog-list">
    {% for post in site.posts limit: 4 %}
      <li class="post-item">
        {%- include post/meta.html -%}
        <br />
        <a href="{{ post.url }}" rel="bookmark">
          <strong class="post-title">{{ post.title }}</strong>
        </a>
      </li>
    {% endfor %}
  </ol>

  <a class="section-go" href="/blog/">Veja todos os posts no blog &rarr;</a>
</section>

<section class="contained news-section">
  <h2 class="section-title">Notícias da Casa</h2>

  <ol class="news-list">
    {% for post in site.news reversed limit: 8 %}
      <li class="post-item">
        {%- include post/meta.html -%}

        <br />
        <a href="{{ post.url }}" rel="bookmark">
          <strong class="post-title">{{ post.title }}</strong>
        </a>
      </li>
    {% endfor %}
  </ol>

  <a class="section-go" href="/blog/">Visite o arquivo de notícias &rarr;</a>
</section>

{{ last_feature }}
