---
layout: default
---

{% assign site_features = site.banners | reverse %}

{% for feature in site_features %}
  {% if forloop.first %}
    {% capture banner_above %}
      {% include home/banner.html %}
    {% endcapture %}
  {% else %}
    {% capture banner_below %}
      {% include home/banner.html %}
    {% endcapture %}
  {% endif %}
{% endfor %}


{{ banner_above }}

<section class="contained posts_section">
  <h2 class="section_title">
    No blog
  </h2>

  <div class="posts_list">
    {%- for post in site.posts limit: 4 -%}
      {%- include home/post.html -%}
    {%- endfor -%}
  </div>

  <a class="archive_link" href="/blog/">
    Ver todos os posts no blog
  </a>
</section>

<section class="contained posts_section">
  <h2 class="section_title">
    Notícias da Casa
  </h2>

  <div class="posts_list">
    {%- assign news = site.news | reverse -%}

    {%- for post in news limit: 4 -%}
      {%- include home/post.html -%}
    {%- endfor -%}
  </div>

  <a class="archive_link" href="/noticias/">
    Visite o arquivo de notícias
  </a>
</section>


{{ banner_below }}
