---
layout: default
---

{% assign film_categories = site.projects | group_by: "category"  %}

{% assign films_nav = "" %}
{% assign films_sections = "" %}


{% for category in film_categories %}
  {%- unless category.name == "Projetos" -%}
    {%- capture films_nav -%}
      {{- films_nav -}}

      <a href="{{ category.name | slugify | prepend: '#' }}">{{ category.name | split: "-" | first }}</a>
    {%- endcapture -%}

    {% capture films_sections %}

      {{ films_sections }}

      <section class="contained films_section" id="{{ category.name | slugify }}">
        <h2 class="section_title">{{ category.name }}</h2>

        <ul class="films_list">
          {%- for film in category.items -%}

            <li class="list_item">
              <a class="film" href="{{ film.url | relative_url }}" rel="bookmark">

                {%- if film.image and film.image != "" -%}
                  <img class="film_image" src="{{ film.image }}" alt="" role="presentation" />
                {%- endif -%}

                <strong class="film_title">{{ film.title }}</strong>
              </a>
            </li>

          {%- endfor -%}
        </ul>

      </section>

    {% endcapture %}
  {%- endunless -%}
{% endfor %}

<article class="page">

  {%- if page.title and page.title != "" -%}
    <header class="contained page_header">
      <h1 class="page_title">
        {{ page.title }}
      </h1>
    </header>
  {%- endif -%}

  <div class="contained page_content">
    {{ content }}
  </div>

  <nav class="films_navigation" data-films-menu>
    {{ films_nav }}
  </nav>

  {{ films_sections }}
</article>

<script>
document.onscroll = () => {
  const filmsMenu = document.querySelector('[data-films-menu]')

  const filmsMenuOffset = filmsMenu.getBoundingClientRect().top;

  if (filmsMenuOffset <= 5) {
    filmsMenu.classList.add('_sticked')
  } else {
    filmsMenu.classList.remove('_sticked')
  }
}
</script>
