---
layout: page
---

{%- if page.collection -%}
  {% assign collection = site[page.collection] | reverse %}
{% else %}
  {% assign collection = site.posts %}
{% endif %}
{{ content }}

{%- for post in collection -%}
  {%- assign current_date = post.date | date: "%Y" -%}

  {%- if current_date != backup_date -%}
    <h2 id="{{ current_date }}">{{ current_date }}</h2>

    {%- assign backup_date = current_date -%}
  {%- endif -%}

  <p class="post">
    {%- include post/meta.html -%}
    <br />
    <strong>
      {% assign post_permalink = post.url | relative_url %}

      {% if post.file and post.file != "" %}
        {% assign post_permalink = post.file | absolute_url %}
      {% endif %}

      <a href="{{ post_permalink }}" rel="bookmark">
        {{ post.title }}
      </a>
    </strong>
  </p>
{%- endfor -%}
