<div class="inverted">
  <footer class="site_footer">
    <a class="site_title" href="{{ site.url | absolute_url }}">
      <picture>
        <source media="(max-width: 960px)" srcset="{% link assets/img/logo-mobile.png %}" />
        <source media="(min-width: 961px)" srcset="{% link assets/img/logo.png %}" />
        <img title="{{ site.title }}" src="{% link assets/img/logo.png %}" />
      </picture>
    </a>

    {% if site.data.menu %}
      <nav class="footer_menu">
        {% for item in site.data.menus.main.items %}
          <a href="{{ item.url }}" {% if item.external %}target="_blank" {% endif %}>
            {{ item.title }}
          </a>
        {% endfor %}

        {% if site.social.links %}
          <div class="social_links">
            {% for link in site.social.links %}
            {%- assign service = link | remove: "https://" | split: "/" | first | split: "." | first -%}
            <a class="link" href="{{ link }}" rel="nofollow">
              {%- include icons/{{ service }}.svg -%}
            </a>
            {% endfor %}
          </div>
        {% endif %}
      </nav>
    {% endif %}

  </footer>
</div>
