<header class="site_header">
  {%- capture site_branding -%}
    <a href="{{ site.url }}">
      {%- if site.logo -%}
        <img src="{{ site.logo }}" alt="{{ site.title }}" role="img" />
      {%- else -%}
        {{- site.title -}}
      {%- endif -%}
    </a>
  {%- endcapture -%}

  {% if page.title %}
    <p class="site_title">
      {{ site_branding }}
    </p>
  {% else %}
    <h1 class="site_title">
      {{ site_branding }}
    </h1>
  {% endif %}

  <input type="checkbox" name="menu-trigger" id="menu-trigger" />

  <label class="menu_button" for="menu-trigger">
    {%- include icons/menu.svg -%}
  </label>

  <div class="site_navigation">
    {% if site.data.menu %}
      <nav class="site_menu" data-site-menu>
        {% for item in site.data.menu %}
        <a href="{{ item.url }}" {% if item.external %}target="_blank" {% endif %}>
          {{ item.title }}
        </a>
        {% endfor %}
      </nav>
    {% endif %}

    <form class="site_search" action="//google.com/search" method="get">
      <input class="search_field" type="search" name="q" placeholder="Pesquisar" />
      <input type="hidden" name="q" value="site:casacinepoa.com.br" />
      <button class="search_submit" type="submit">
        {%- include icons/search.svg -%}
      </button>
    </form>
  </div>
</header>

