html {
  font-size: 1rem;
  box-sizing: border-box;
  hyphens: auto;
  word-break: break-word;
}

*,
*::before,
*::after {
  box-sizing: inherit ;
}

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;

}

body {
  font: 300 #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $color-text;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  overflow-wrap: break-word;
  min-height: 100vh;
}

#site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit * .5;
}

b, strong {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

abbr, acronym {
  text-decoration: underline;
  text-decoration-style: dotted;
  cursor: help;
}

del, s, strike {
  text-decoration: line-through;
}

ins, u {
  text-decoration: underline;
}

// Links
a {
  color: currentColor;
  text-decoration: none;
  transition: color 150ms ease;
}

.post .post_content,
body.page .page_content {
  a {
    color: $color-accent;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

// Lists

ol, li {
  list-style-position: outside;
}

li {
  margin-top: calc($spacing-unit / 2);
  margin-bottom: calc($spacing-unit / 2);
}

ol, ul {
  margin-left: $spacing-unit;
}

ul {
  list-style: disc;

  ul {
    list-style: square;

    ul {
      list-style: circle;
    }
  }
}

ol {
  list-style: numeric;

  ol {
    list-style: lower-alpha;

    ol {
      list-style: lower-roman;
    }
  }
}

// Horizontal rule
hr {
  display: block;
  height: 1rem;
  font-size: 1rem;
  content: "—//—";
  color: $color-accent;
  text-align: center;
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;
  border: none;

  &::before {
    content: "—//—";
  }
}


// Headings
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  line-height: 1.25;
  font-family: $base-font-family;
}

.page_header,
.page_content,
.post_content {
  h1, h2, h3, h4, h6, h6 {
    text-transform: uppercase;

    &::before {
      content: "// ";
      color: $color-accent;
    }
  }
}

h1 {
  font-size: 2.8125rem;
  text-transform: uppercase;

  @include media-query($on-desktop) {
    font-size: 3rem;
  }
}

h2 {
  font-size: 2rem;

  @include media-query($on-desktop) {
    font-size: 1.75rem;
  }
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

.section_title {
  text-transform: uppercase;

  &::before {
    content: "//";
    color: $color-accent;
    margin-right: .25ch;
  }
}

// Code and pre-formatted text
pre, code {
  font-family: Courier, "Courier New", monospace;
}

// Media
img + em {
  display: block;
  font-family: $base-font-family;
  font-style: normal;
  font-size: 0.875rem;
  margin-top: -0.5rem;
}

img,
video,
iframe {
  max-width: 100%;
}

video, iframe {
  aspect-ratio: 16 / 9;
}

[align="left"],
[align="right"] {
  &::after {
    content: " ";
    display: block;
    width: 1px;
    height: 1px;
    clear: both;
  }

  img {
    display: block;

    @include media-query($on-laptop) {
      display: inline-block;
    }
  }
}

[align="left"] {
  img {
    @include media-query($on-laptop) {
      float: left;
      margin-right: $spacing-unit;
    }
  }
}

[align="right"] {
  img {
    @include media-query($on-laptop) {
      float: right;
      margin-left: $spacing-unit;
    }
  }
}
