html,
body {
  min-height: 100vh;
}

.contained,
.site_header,
.site_footer {
  width: 100%;
  max-width: 1500px;
  padding-left: $spacing-unit;
  padding-right: $spacing-unit;
  margin-left: auto;
  margin-right: auto;
}

.inverted {
  background-color: $color-text;
  color: #fff;
}

/*
  Site Header
*/

.site_header {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding-left: $spacing-unit;
  padding-right: $spacing-unit;
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;

  @include media-query($on-laptop) {
    width: 100%;
    margin-top: $spacing-unit;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .site_title {
    max-width: 400px;
    margin-bottom: calc(#{$spacing-unit} / 2);

    a,
    img {
      display: block;
    }

    &::before {
      content: none;
    }
  }

  .menu_button {
    position: absolute;
    right: $spacing-unit;
    top: 0;
    cursor: pointer;

    @include media-query($on-laptop) {
      display: none;
    }

    svg {
      width: 50px;
    }
  }

  #menu-trigger {
    visibility: hidden;
    position: absolute;
    z-index: -1;

    @include media-query($on-laptop) {
      display: none;
    }

    &:checked~.site_navigation {
      height: 120px;
      opacity: 1;
      visibility: visible;

      @media screen and (max-width: 360px) {
        height: 150px;
      }
    }
  }
}

// Navigation
.site_navigation {
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 250ms ease;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;

  @include media-query($on-laptop) {
    display: inline-flex;
    flex-flow: column-reverse nowrap;
    gap: $spacing-unit;
    align-items: flex-end;
    height: auto;
    opacity: 1;
    visibility: visible;
  }

  .site_menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: calc(#{$spacing-unit} / 2) $spacing-unit;
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 300;
    -webkit-overflow-scrolling: touch;
    padding-bottom: .5em;

    @include media-query($on-laptop) {
      flex-flow: row nowrap;
    }

    a {
      display: inline-block;
      flex: 0 0 auto;

      &:hover,
      &:focus {
        color: $color-accent;
      }
    }
  }

  .site_search {
    max-width: 450px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    gap: 1rem;
    margin-left: auto;
    margin-right: auto;

    @include media-query($on-laptop) {
      margin-right: 0;
    }

    .search_field {
      appearance: none;
      border: none;
      background: none;
      font: inherit;
      font-family: $content-font-family;
      flex: 1;
      border-bottom: 1px solid $color-details;
      transition: border-bottom-color 150ms ease;
      padding: 5px 0;

      &:focus {
        outline: none;
        border-bottom-color: $color-accent;
      }
    }

    .search_submit {
      appearance: none;
      border: none;
      border-radius: 0;
      background: none;
      padding: 0;
      margin: 0;
      cursor: pointer;

      svg {
        width: 27px;
        height: 27px;
      }
    }
  }
}

/*
  Site Footer
*/
.site_content {
  margin-bottom: auto;
}

.site_footer {
  padding-top: $spacing-unit;
  padding-bottom: calc($spacing-unit * 2);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;

  .site_title {
    flex: 0 1 150px;
    display: inline-block;
    margin-right: $spacing-unit;

    @include media-query($on-laptop) {
      flex: 0 1 280px;
    }


    @include media-query($on-laptop) {
      margin-right: 0;
    }
  }

  .footer_menu {
    columns: 2;
    text-transform: uppercase;
    line-height: 2;

    @include media-query($on-laptop) {
      gap: $spacing-unit;
      display: flex;
      flex-flow: row nowrap;
      margin-left: auto;
      margin-right: auto;
    }

    @include media-query($on-desktop) {
      font-size: 1.25rem;
    }

    a {
      display: block;
      flex: 0 0 auto;

      &:hover,
      &:focus {
        color: $color-accent;
      }
    }
  }

  .social_links {
    display: inline-flex;
    flex-flow: row nowrap;
    gap: $spacing-unit;

    @include media-query($on-laptop) {
      width: 280px;
      justify-content: flex-end;
      gap: calc($spacing-unit * 1.5);
    }

    a {
      color: #fff;
      display: inline-block;

      &:hover,
      &:focus {
        color: $color-accent;
      }
    }

    svg {
      fill: currentColor;
      width: 1rem;
      height: 1em;
    }
  }
}

/*
  Site Content
*/

@import "layouts/home";
@import "layouts/films";
@import "layouts/page";
@import "layouts/post";
@import "layouts/project";
@import "layouts/projects";
@import "layouts/blog";
@import "layouts/post";
@import "layouts/contact";
@import "layouts/about";
