<nav class="blog_navigation">
  {% if paginator.total_pages > 1 %}
    {%- if paginator.previous_page -%}
      <a class="nav_link prev" href="{{ paginator.previous_page_path }}" rel="prev">
        &larr; Posts mais recentes
      </a>
    {%- endif -%}

    {%- if paginator.next_page -%}
      <a class="nav_link next" href="{{ paginator.next_page_path }}" rel="next">
        Posts anteriores &rarr;
      </a>
    {%- endif -%}

    {% if site.archive_news_path or site.archive_path %}
      {%- if include.news and site.archive_news_path -%}
        <a class="nav_link archives" href="{{ site.news_archive_path | relative_url }}">
          ou visite <strong>o arquivo completo</strong>
        </a>
      {%- else -%}
        <a class="nav_link archives" href="{{ site.archive_path | relative_url }}">
          ou visite <strong>o arquivo completo</strong>
        </a>
      {% endif %}
    {% endif %}
  {% else %}

    {% if site.archive_news_path or site.archive_path %}
      {%- if include.news and site.news_archive_path -%}
        <a class="nav_link archives" href="{{ site.news_archive_path | relative_url }}">
         Visite o
         <strong>Arquivo de Notícias</strong>
        </a>
      {%- else -%}
      <a class="nav_link archives" href="{{ site.archive_path | relative_url }}">
        Explore o
        <strong>Arquivo do Blog</strong>
      </a>
    {% endif %}

  {% endif %}
{% endif %}
</nav>

