<article class="post-card">
  <span class="post-meta">
    {% if post.author and post.author != "" %}
    <a class="post-meta__link post-author" href="{{- post.author | prepend: '/blog/' -}}" rel="author">
      {{- site.data.authors[post.author].name -}}
    </a>

    &middot;
    {% endif %}

    <a class="post-meta__link post-bookmark" href="{{- post.url | relative_url -}}" rel="bookmark">
      <time class="post-date" datetime="{{- post.date | date_to_xmlschema -}}">
        {{- post.date | date: "%d/%m/%Y" -}}
      </time>
    </a>
  </span>

  <h2 class="post-title">
    <a href="{{- post.url | relative_url -}}">
      {{- post.title -}}
    </a>
  </h2>

  {% if include.excerpts == true %}
    <div class="post-excerpt">
      {{ post.excerpt }}
    </div>
  {% endif %}
</article>
