<article class="blog_post">
  <header class="post_header">
    {%- include post/meta.html -%}

    {%- if page.title != "" -%}
    <h2 class="post_title">
      <a class="post_bookmark" href="{{ post.url | relative_url }}" rel="bookmark">
        {{ post.title }}
      </a>
    </h2>
    {%- endif -%}
  </header>

  {%- unless page.show_content == false -%}
    <div class="post_content">
      {%- if page.show_content == "excerpt" -%}
        <p>
          {{ post.excerpt | default: post.content | strip_html | truncate: 240 }}
        </p>
      {%- else -%}
        {{ post.content }}
      {%- endif -%}
    </div>
  {%- endunless -%}

  {%- if page.show_tags and post.tags.size > 0 -%}
    {%- include post/footer.html -%}
  {%- endif -%}
</article>
