<aside class="blog_sidebar">
  {%- if page.category == "Notícias" or page.pagination.category == "Notícias" -%}

    {%- assign years = site.posts | where: "category", "Notícias" | group_by_exp: "item", "item.date | date: '%Y'" | reverse -%}

    <div class="sidebar_widget">
      <h4 class="widget_title">Arquivo</h4>

      <div class="widget_content">
        <ul class="archive_list">
          {%- for year in years -%}
            <li>
              <a href="{{ year.name | prepend: '/noticias/arquivo/#' | relative_url }}">{{ year.name }}</a>
            </li>
          {%- endfor -%}
        </ul>
      </div>
    </div>
  {%- elsif page.category == "Blog" or page.pagination.category == "Blog" or page.layout == "author" -%}
    {%- assign authors = site.posts | group_by: "author" -%}

    <div class="sidebar_widget">
      <h4 class="widget_title">Publicado por</h4>

      <div class="widget_content">
        <ul class="archive_list">
          {%- for author_id in authors -%}
            {%- assign author = site.data.authors[author_id.name] -%}

            <li>
              <a href="{{ author_id.name | prepend: "/blog/" | relative_url }}">{{ author.name }}</a>
            </li>
          {%- endfor -%}
        </ul>
      </div>
    </div>

    {%- assign years = site.posts | group_by_exp: "item", "item.date | date: '%Y'" -%}

    <div class="sidebar_widget">
      <h4 class="widget_title">Arquivo</h4>

      <div class="widget_content">
        <ul class="archive_list">
          {%- for year in years -%}
            <li>
              <a href="{{ year.name | prepend: '/blog/arquivo/#' | relative_url }}">{{ year.name }}</a>
            </li>
          {%- endfor -%}
        </ul>
      </div>
    </div>
  {%- else -%}
    {%- assign essays = site.posts | where: "category", "Textos" -%}
    {%- assign subcats = essays | group_by_exp: "item", "item.tags[0]" | reverse -%}

    <div class="sidebar_widget">
      <h4 class="widget_title">Categorias</h4>

      <div class="widget_content">
        <ul class="archive_list">
          {%- for subcat in subcats -%}

            <li>
              <a href="{{ subcat.name | slugify | prepend: "/textos/" | relative_url }}">{{ subcat.name }}</a>
            </li>
          {%- endfor -%}
        </ul>
      </div>
    </div>

    {%- assign years = essays | group_by_exp: "item", "item.date | date: '%Y'" | reverse -%}

    <div class="sidebar_widget">
      <h4 class="widget_title">Arquivo</h4>

      <div class="widget_content">
        <ul class="archive_list">
          {%- for year in years -%}
            <li>
              <a href="{{ year.name | prepend: '/textos/arquivo/#' | relative_url }}">{{ year.name }}</a>
            </li>
          {%- endfor -%}
        </ul>
      </div>
    </div>
  {%- endif -%}
</aside>

