---
layout: page
---

{{ content }}

<section class="news-section">
  <ol class="news-list">
    {% for post in paginator.posts %}
      <li class="post-item">
        {%- include post/meta.html -%}

        <br />
        <a href="{{ post.url }}" rel="bookmark">
          <strong class="post-title">{{ post.title }}</strong>
        </a>
      </li>
    {% endfor %}
  </ol>

  {%- if page.pagination_links != false -%}
    {%- include archive/pagination.html news=true -%}
  {%- endif -%}
</section>
