@import url("partials/fonts.css");
@import url("partials/base.css");
@import url("partials/layout.css");

:root {
  --color-background: #f5f2ed;
  --color-foreground: #2b292b;
  --color-accent: #720807;
  --color-accent-alt: #c29d52;

  --font-body: "Crimson Pro", serif;
  --font-headings: "Golos UI", sans-serif;
  --font-size-small: 0.75rem;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --color-background: #2b292b;
    --color-foreground: #f5f2ed;
    --color-accent: #c29d52;
    --color-accent-alt: #720807;
  }
}

.inverted {
  --color-background: #2b292b;
  --color-foreground: #f5f2ed;
  --color-accent: #c29d52;
  --color-accent-alt: #720807;
}
