@import url("/assets/css/partials/fonts.css");
@import url("/assets/css/partials/base.css");

:root {
  --color-background: #f5f2ed;
  --color-foreground: #2b292b;
  --color-accent: #720807;
  --color-accent-alt: #c29d52;

  --font-body: "Crimson Pro", serif;
  --font-headings: "Golus UI", sans-serif;
}
