@import "partials/fonts.css";
@import "partials/base.css";
@import "partials/layout.css";
@import "partials/layout/header.css";
@import "partials/layout/footer.css";
@import "partials/layout/home.css";

:root {
  --color-background: #fff;
  --color-foreground: #2b292b;
  --color-accent: #c29d52;
  --color-accent-alt: #720807;
  --color-details: #f6f6f6;

  --font-serif: "IBM Plex Serif", ui-serif, serif;
  --font-sans: "IBM Plex Sans", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "IBM Plex Mono", ui-monospace, monospace;
  --font-size-base: 1rem;
  --font-size-small: 0.75rem;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --color-background: #2b292b;
    --color-foreground: #f5f2ed;
    --color-details: #cdcdcb;
  }
}
