.about_page {

  .page_header {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    margin-bottom: $spacing-unit;

    @include media-query($on-laptop) {
      flex-flow: row nowrap;
      margin-bottom: calc($spacing-unit * 2);
    }

    .page_title {
      margin-bottom: 0;
    }
  }

  .image_cover {
    border: 1px solid $color-text;
    padding: 0.5rem;

    .cover_caption {
      font-size: 0.75rem;
      color: $color-details;
    }
  }

  .about_nav {
    border-bottom: .52px solid $color-details;
    font-size: 1.25rem;
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    font-weight: 300;
    color: $color-details;
    text-transform: uppercase;
    margin-left: calc($spacing-unit * -1);
    margin-right: calc($spacing-unit * -1);
    padding-bottom: .5rem;
    justify-content: center;
    padding-left: calc($spacing-unit / 2);
    padding-right: calc($spacing-unit / 2);

    @include media-query($on-laptop) {
      flex-flow: row nowrap;
      flex: 1;
      justify-content: flex-end;
      align-self: center;
      margin-left: 0;
      margin-right: 0;
      font-size: $base-font-size;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
    }

    @include media-query($on-desktop) {
      font-size: 1.25rem;
    }

    & > a {
      flex: 0 0 auto;

      &:hover,
      &:focus {
        color: $color-accent;
      }
    }
  }
}

.socio {
  margin-bottom: 2.5rem;

  .section_title {
    font-weight: 400;
    font-size: 1.5rem;
  }

  .socios_content {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;

    @include media-query($on-laptop) {
      flex-flow: row-reverse nowrap;
      gap: 2rem;
    }
  }

  .socios_bio {
    font-family: $content-font-family;

    @include media-query($on-laptop) {
      flex: 0 0 75%;
    }

    @include media-query($on-desktop) {
      flex-basis: 850px;
    }
  }

  details {
    summary {
      font-family: $base-font-family;
      font-weight: 400;
      font-size: 1.25rem;
      text-transform: uppercase;
      cursor: pointer;
      margin-bottom: calc($spacing-unit / 2);

      &::before,
      &::marker,
      &::-webkit-details-marker {
        color: $color-accent;
      }
    }

    & > *:not(summary) {
      font-family: $content-font-family;
      font-size: 0.875rem;
    }
  }
}
