.page_header {
  margin-bottom: $spacing-unit;
}

body.page {
  .page_content {
    font-family: $content-font-family;
  }
}

.image_cover {
  margin-bottom: $spacing-unit;
}

.post_content,
.page_content {
  a {
    color: $color-accent;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.current_link {
  font-weight: 400;
}
