
// Posts
.lists-posts {

  h2 {
    margin-top: calc($spacing-unit * 2);

    &::before {
      content: "// ";
      color: $color-accent;
    }
  }

  .post {
    margin-bottom: $spacing-unit;

    strong {
      font-weight: 300;
      font-size: 1.5rem;
    }
  }
}
.post_meta {
  margin-bottom: calc($spacing-unit / 2);

  .meta_info {
    color: $color-details;
    font-family: $content-font-family;

    &:not(:first-child) {
      &::before {
        content: " | ";
      }
    }
  }

  a.meta_info {
    text-decoration: none;
    transform: color 150ms ease;

    &:hover,
    &:focus {
      color: $color-accent;
    }
  }
}

.post {
  .post_header {
    margin-bottom: $spacing-unit;
  }
}

.post_content {
  font-family: $content-font-family;
  max-width: 850px;
}

.blog_container {
  display: flex;
  flex-flow: column nowrap;
  gap: $spacing-unit;
  margin-bottom: calc($spacing-unit * 2);

  @include media-query($on-laptop) {
    display: grid;
    grid-template-columns: 2fr 350px;
    gap: calc($spacing-unit * 2);
  }

  .post_content {
    max-width: 850px;
  }
}
