:root {
  box-sizing: border-box;
  font-size: clamp(1rem, 2.5vw, 1.25rem);
}

:root * {
  box-sizing: inherit;
}

:root *:focus {
  outline: 1px dotted var(--color-accent);
}

::selection {
  background-color: var(--color-accent);
  color: var(--color-details);
}

.contrasted {
  background-color: var(--color-details);
  color: var(--color-foreground);
}

.inverted {
  background-color: var(--color-foreground);
  color: var(--color-background);
}

/*
  Resets some spacing.
*/
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}


/*
  Basic Styling
*/

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-serif);
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  font-size: 1rem;
  font-weight: 400;
  hyphens: auto;
  line-height: 1.5;
  min-height: 100vh;
  overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
  margin-bottom: calc(2rem / 2);
}

/*
  HTML Elements
*/

/* Horizontal rule */
hr {
  background-color: var(--color-accent);
  border: none;
  height: 1px;
  margin: 3rem auto;
  width: 3rem;
}

/* Headings */
h1, h2, h3,
h4, h5, h6 {
  font-family: var(--font-sans);
  font-weight: 700;
  font-variation-settings: "width" 85;
  line-height: 1.25;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2rem;
  letter-spacing: -0.025em;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: .75rem;
}

/* Images */

img {
  max-width: 100%;
  vertical-align: middle;
}

/* Media */
svg {
  fill: currentColor;
}

/* Figures */

figure > img {
  display: block;
}

figcaption {
  font-family: var(--font-sans);
  font-size: var(--font-size-small);
}

/* Lists */

ul, ol {
  margin-left: 2rem;
}

li > ul,
li > ol,
li > :last-child {
  margin-bottom: 0;
}

ol {
  list-style: decimal;
}

ol ol {
  list-style: lower-alpha;
}

ol ol ol {
  list-style: lower-roman;
}

ul {
  list-style: square;
}

ul ul {
  list-style: disc;
}

ul ul ul {
  list-style: circle;
}

.footnotes {
  font-family: var(--font-sans);
  font-size: var(--font-size-small);
  font-weight: 500;
}

.footnotes::before {
  background-color: var(--color-details);
  content: " ";
  display: block;
  height: 1px;
  margin: 2em auto;
  width: 2rem;
}

dt {
  font-style: italic;
  font-weight: 500;
}

dd {
  margin-bottom: 1rem;
}

/* Links */
a {
  color: var(--color-accent);
  text-decoration: none;
  transition-property: color, text-decoration-color;
  transition-duration: 250ms;
  transition-timing-function: ease;
}

a:hover,
a:focus {
  text-decoration: underline;
}

/* Quotes */
blockquote {
  margin-left: 1rem;
  margin-right: 1rem;
  font-style: italic;
  font-size: 1.25rem;
  font-weight: 300;
}

blockquote > :last-child {
  margin-bottom: 0;
}

blockquote i,
blockquote em {
  font-style: normal;
}

/* Code */

pre, code, kbd, var {
  font-family: var(--font-mono);
  font-size: 0.85rem;
}

pre {
  max-width: 100%;
  overflow-x: auto;
  scrollbar-width: thin;
}

/* Text Elements */

sub, sup {
  font-size: var(--font-size-small);
  line-height: 1;
}

.footnote {
  font-family: var(--font-sans);
  font-weight: 600;
  font-size: .625rem;
}

/* Tables */

table {
  margin-bottom: 2rem;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  border: 1px solid var(--color-details);
  font-family: var(--font-sans);
  font-size: var(--font-size-small);
}

@media screen and (max-width: 800px) {
  table {
    display: block;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}

th, td {
  padding: .25rem .5rem;
}

th {
  border-bottom: 2px solid var(--color-details);
  background-color: var(--color-accent);
  color: var(--color-background);
}

td {
  border: 2px solid var(--color-details);
  border-left-width: 2px;
  border-right-width: 2px;
}

tr:nth-child(even) td {
  background: var(--color-details);
  border-color: var(--color-background);
}
