html {
  min-height: 100vh;
  position: relative;
}

.site_header,
.site_menu,
.site_content,
.site_footer {
  max-width: 45rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media screen and (min-width: 1024px) {
  .site_header,
  .site_menu,
  .site_content,
  .site_footer {
    min-width: 970px;
  }
}

.contrasted,
.inverted {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  position: relative;
}

.contrasted {
  z-index: 2;
}

.inverted {
  z-index: 3;
}
