html {
  border: .5rem solid var(--color-foreground);
  min-height: 100vh;
  position: relative;
}

html::before,
html::after {
  background-color: var(--color-foreground);
  content: " ";
  display: block;
  height: .5rem;
  left: 0;
  position: fixed;
  width: 100vw;
  z-index: 999;
}

html::before {
  top: 0;
}

html::after {
  bottom: 0;
}

body {
  max-width: 45rem;
  margin: 0 auto;
  padding: 1.5rem 1.5rem;
}

@media screen and (min-width: 1024px) {
  body {
    min-width: 970px;
  }
}
