{% assign former_team = site.people | where: "category", "passado" %}

{% if former_team.size > 0 %}
  {% for person in former_team %}
    <section class="ex-socio">
      {% if person.image and person.image != "" %}
        <img class="person_image" src="{{ person.image }}" alt="" />

        <div class="person_content">
          <h3 class="person_name">{{ person.title }}</h3>
          {% if person.role and person.role != "" %}
            <small class="person_role">{{ person.role }}</small>
          {% endif %}

          {{ person.content | markdownify }}

          <p>
            <strong>Contato:</strong>
          </p>

          {% if person.links and person.links.size > 0 %}
            <ul class="links_list">
              {% for link in person.links %}
                <li>
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      {% endif %}
    </section>
  {% endfor %}
{% endif %}
