---
layout: default
---
<article class="page about_page">
  <header class="contained page_header">
    {%- if page.title and page.title != "" -%}
      <h1 class="page_title">
        Sobre
      </h1>
    {%- endif -%}

    <nav class="about_nav">
      {% for item in site.data.menus.about.items %}
        <a href="{{ item.url }}" {% if item.external %}target="_blank" {% endif %}>
          {{ item.title }}
        </a>
      {% endfor %}
    </nav>
  </header>

  <div class="contained page_content">
    <h2 class="section_title">{{ page.title }}</h2>

    <div class="post_content">
      {%- if page.image and page.image != "" -%}
        <figure class="image_cover">
          <img class="featured_image" src="{{ page.image }}" alt="" />

          <figcaption class="cover_caption">
            {{ page.image_caption }}
          </figcaption>
        </figure>
      {%- endif -%}

      {% unless page.permalink contains "/colaboradores" %}
        {{ content }}
      {% endunless %}
    </div>

    {% if page.permalink contains "/colaboradores" %}
      {% capture about_teams %}
        {% include about/equipes.html %}
      {% endcapture %}

      {% capture about_casts %}
        {% include about/elencos.html %}
      {% endcapture %}

      <div class="colaboradores">
        {{ content | replace: "<p>[lista_equipes]</p>", about_teams | replace: "<p>[lista_elencos]</p>", about_casts }}
      </div>
    {% endif %}

    {% if page.permalink contains "/socios" %}
      {%- include about/socios.html -%}
    {% endif %}

    {% if page.permalink contains "/funcionarios" %}
      {% include about/funcionarios.html %}
    {% endif %}

    {% if page.permalink contains "/ex-socios" %}
      {% include about/ex-socios.html %}
    {% endif %}
  </div>
</article>
