---
layout: default
show_tags: false
show_content: "excerpt"
---
{% assign author = page.pagination.author_data %}

<article class="contained blog">

    <header class="page_header">
      <h1 class="page_title">
        {{ author.name }}
      </h1>
    </header>

  <div class="page_content">
    <div class="blog_list">
      {% for post in paginator.posts %}
        {%- include archive/post.html -%}
      {% endfor %}

      {%- if page.pagination_links != false -%}
        {%- include archive/pagination.html -%}
      {%- endif -%}
    </div>

    {% include archive/sidebar.html %}
  </div>
</article>
