<section class="contained inverted home-feature {% if forloop.first %}_first{% else %}_last{% endif %}">
  <a class="feature-image" href="{{ feature.link }}">
    <img src="{{ feature.image }}" alt="" role="presentation" />
  </a>

  <div class="feature-content">
    <h2 class="feature-title">
      <a href="{{ feature.link }}">
        {{ feature.title }}
      </a>
    </h2>

    <div class="feature-description">
      {{ feature.content | normalize_whitespace }}
    </div>
  </div>
</section>
