/*
  The Blog
*/
.blog_navigation {
  font-family: var(--font-sans);
  font-size: var(--font-size-small);
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  margin-top: 1.5rem;
}

@media screen and (max-width: 600px) {
  .blog_navigation {
    flex-flow: column nowrap;
    text-align: center;
    gap: .5rem;
  }
}

.nav_link {
  color: var(--color-foreground-details);
  text-decoration: underline;
  text-decoration-color: var(--color-details);
}

.nav_link:hover,
.nav-link:focus {
  color: var(--color-accent);
}

.nav_link strong {
  color: var(--color-accent);
}

/*
  The Post
*/
.blog_post {
  padding-bottom: 1.5rem;
  border-bottom: 2px solid var(--color-details);
  margin-bottom: 1.5rem;
}

/*
  Post Header
*/
.post_header {
  margin-bottom: 1.5em;
}

.post_header .post_title {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 0;
}

/* Meta Information */
.post_meta {
  font-family: var(--font-sans);
  font-weight: 400;
  font-size: var(--font-size-small);
  color: var(--color-foreground-details);
}

.post_meta a {
  color: currentColor;
  text-decoration: underline;
  text-decoration-color: var(--color-details);
}

.post_meta a:hover,
.post_meta a:focus {
  color: var(--color-accent);
  text-decoration-color: var(--color-accent);
}

.post_meta > *:not(:last-child)::after {
  content: "/";
  display: inline-block;
  margin-left: .5em;
  margin-right: .5em;
  color: var(--color-foreground-details);
  font-weight: 300;
}

/*
  Post Content
*/

.post_content {
  margin-bottom: 1.5rem;
}

.post_content::after {
  content: " ";
  display: block;
  clear: both;
}

.post_content p,
.post_content ul,
.post_content ol,
.post_content dl,
.post_content pre {
  max-width: 640px ;
}

/*
  Post Footer
*/
.post_footer {
  margin-top: 1.5rem;
}

.meta_info._tags-title {
  font-size: .5rem;
  text-transform: uppercase;
}

.meta_info._tags-title::after {
  content: none;
}

.meta_info._tags-list {
  list-style: none;
  margin-left: 0;
  display: flex;
  flex-flow: row wrap;
}

._tags-list > li:not(:last-child)::after {
  content: "/";
  display: inline-block;
  margin-left: .5em;
  margin-right: .5rem;
  color: var(--color-foreground-details);
}

.post_tag {
  color: var(--color-foreground);
  text-decoration-color: var(--color-foreground-details);
}
