.films_navigation {
  align-items: center;
  background-color: var(--color-background);
  border-bottom-color: var(--color-details);
  display: flex;
  /* font-family: var(--font-sans); */
  font-weight: 450;
  font-size: var(--font-size-small);
  letter-spacing: 0.1em;
  gap: 1rem;
  margin-bottom: 2rem;
  overflow-x: auto;
  padding-top: .75em;
  padding-bottom: .75em;
  position: sticky;
  scrollbar-width: thin;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
  text-transform: uppercase;
  top: 0;
  transition-property: border-bottom-color, background-color;
  transition-duration: 250ms;
  transition-timing-function: ease;
  z-index: 2;
}

.films_navigation._sticked {

}

.films_navigation > a {
  flex-shrink: 0;
  color: var(--color-foreground);
}

.films_navigation > a:hover,
.films_navigation > a:focus {
  color: var(--color-accent);
  text-decoration: none;
}

.films_list {
  list-style: none;
  margin-left: 0;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 600px) {
  .films_list {
    grid-template-columns: 1fr;
  }
}

.films_list .film {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  gap: .5rem;
  line-height: 1;
}

.films_list .film .film_title {
  font-family: var(--font-serif);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: var(--color-foreground);
  text-decoration: underline;
  text-decoration-color: var(--color-details);
  transition: color 180ms ease, text-decoration-color 180ms ease;
}

.films_list .film:hover .film_title {
  color: var(--color-accent);
  text-decoration-color: var(--color-accent);
}
