.site_footer {
  display: grid;
  grid-template-areas:
    "info search"
    "info social";
  grid-template-columns: 2fr 1fr;
  gap: 3rem;
}

@media screen and (max-width: 600px) {
  .site_footer {
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
  }
}

/* Site Info */
.site_footer .site_info {
  grid-area: info;
  font-size: var(--font-size-small);
}

@media screen and (max-width: 600px) {
  .site_footer .site_info {
    text-align: center;
  }
}

.site_info .site_title {
  font-family: var(--font-serif);
  font-weight: 700;
  font-size: var(--font-size-small);
  text-transform: uppercase;
}

/* Search */
.site_footer .search_form {
  grid-area: search;
  display: flex;
  gap: .5rem;
  flex-flow: row nowrap;
  justify-content: stretch;
  align-items: flex-end;
}

.search_form input[type="search"] {
  appearance: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--color-foreground);
  color: currentColor;
  font: inherit;
  font-size: 0.75em;
  flex-grow: 1;
}

.search_form button {
  appearance: none;
  background: var(--color-foreground);
  border: none;
  color: var(--color-background);
  cursor: pointer;
  font-family: var(--font-sans);
  text-transform: uppercase;
  font-weight: 600;
  hyphens: none;
  letter-spacing: 0.05em;
  padding: .25rem .5rem;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: ease;
}

.search_form button:hover,
.search_form button:focus {
  background-color: var(--color-accent);
  color: var(--color-foreground);
}

/* Social Menu */
.site_footer .social_links {
  grid-area: social;
  display: flex;
  flex-flow: row nowrap;
  gap: 1em;
  justify-content: flex-end;
}

@media screen and (max-width: 600px) {
  .site_footer .social_links {
    justify-content: center;
  }
}

.social_links svg {
  fill: var(--color-accent);
  width: 1em;
  height: 1em;
  transition: fill 250ms ease;
}

.social_links svg:hover,
.social_links svg:focus {
  fill: var(--color-accent-alt);
}

@media screen and (max-width: 600px) {
  .social_links svg {
    width: 1.5em;
    height: 1.5em;
  }
}
