/*
  Technical Specs
*/

.project_title {
  font-family: var(--font-serif);
  font-family: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.project_title + .project_specs {
  margin-top: -1rem;
}

.project_specs {
  font-size: var(--font-size-small);
  font-family: var(--font-sans);
  font-style: italic;
}

.project_specs p {
  margin-top: 0;
  margin-bottom: 0;
}

/*
  Project Cover
*/

.project_cover {
  border: 1px solid var(--color-foreground);
  padding: .5rem;
  position: relative;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.project_cover > .cover_video,
.project_cover > .cover_image {
  display: block;
  line-height: 0;
  width: 100%;
}

.cover_video {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.cover_image_credits {
  color: var(--color-foreground-details);
  font-style: italic;
  font-size: var(--font-size-small);
  font-weight: 300;
}

@media screen and (min-width: 800px) {
  .cover_image_credits {
    position: absolute;
    display: inline-block;
    max-width: 300px;
    padding: .175rem .5rem;
    background-color: var(--color-background);
    bottom: .5rem;
    right: .5rem;
  }
}

/*
  Main Content
*/

.project_main_content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  align-items: flex-start;
  margin-bottom: 2rem;
}

@media screen and (min-width: 800px) {
  .project_main_content {
    grid-template-columns: 1fr 300px;
  }
}

.where-to-watch {
  background-color: var(--color-foreground);
  color: var(--color-background);
  padding: 1rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.where-to-watch > :last-child {
  margin-bottom: 0;
}

.where-to-watch_title {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.125em;
  text-transform: uppercase;
}

/*
  Project Infos
*/

.project_infos {
  display: grid;
  grid-template-columns: 100%;
  gap: 2rem;
}

@media screen and (min-width: 800px) {
  .project_infos {
    grid-template-columns: 1fr 1fr;
  }
}

.info_title {
  font-family: var(--font-sans);
  font-weight: 500;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  cursor: pointer;
}

.info_content {
  margin-top: .5rem;
  font-size: var(--font-size-small);
}
